@import './reset';
@import './common';
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Pinyon+Script&family=Pochaevsk&family=Yellowtail&display=swap');


header{
    position: fixed;z-index: 99;width: 100%;height: auto;
    display: flex;justify-content: center;
    a{width:100px;padding:24px 0;}
    img{width: 100%;height: 100%;display: block;object-fit: contain;}

}
.container{
   width: 100%;height: auto;//*
    .modelCt {
        position: absolute; left: 0; right: 0; top: 0; height: 100vh; z-index: 9;
        #model{ 
            position: sticky; top: 0; left: 0;height: 100vh; overflow: hidden;
        }
    }

    section{
        position: relative;width: 100%;height: 100vh;z-index: 10;
        border:1px solid #0ff;
        .mesh-area{
            width: 20vw; height: 24vw; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);
            border:1px solid red;
        }
        .txt-content{
            position: absolute;
            top: 50%;left: 50%;transform: translate(-50%, -50%);
            width: 30%;
            border:1px solid #00f;
            .title{
                font-family: "Yellowtail", serif;
                font-size: 48px;
            }
            .desc{
                font-family: "Pochaevsk", serif;
                font-size: 24px;line-height: 1.45;
                margin-top: 28px;
            }
        }

        &.sec-kv{
            .mesh-area{height: 36vw;}
            .txt-content{
                top:50%;left: 50%;transform: translate(-50%, -50%);
                width: 70%;margin-top: -5%;
                text-align: center;
                .desc{
                    font-family: "Pochaevsk", serif;
                    font-size: 48px;line-height: 1.2;
                }
                .title{
                    display: flex;justify-content: space-between;
                    margin-top: 120px;
                    font-family: "Pinyon Script", serif;
                    font-size: 196px;
                }
            }


        }
        &.sec-01{
            .mesh-area{height: 45vw;left: 35%;}
            .txt-content{ left: 70%;}
        }
        &.sec-02{
            .mesh-area{height: 45vw;left: 65%;}
            .txt-content{ left: 30%;top: 30%;}
        }
        &.sec-03{
            .mesh-area{height: 25vw;left: 45%;}
            .txt-content{ left: 55%;top: 20%;}
        }
        &.sec-04{
            .mesh-area{height: 45vw;left: 25%;}
            .txt-content{ left: 60%;}
        }
        &.sec-05{
            .mesh-area{height: 45vw;left: 60%;}
            .txt-content{ left: 30%;top:70%;}
        }
        &.sec-box{
            .mesh-area{height: 25vw;}
            .txt-content{
                top:20%;text-align: center;
                a{
                    font-size: 28px;margin-top: 30px;
                    letter-spacing: 1px;
                    display: block;

                }
            }
        }
    }


}
footer{
    position: relative;
    height: 23vw;
    background-color: #222;
}